*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* border:5px solid #666965; */
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    height: 100vh;
}

.right-half{
   
    width: 40%;
   
    display: flex;
    justify-content: center;
    align-items: center;
    padding:50px;
 
}

.left-half{
    position: relative;
    width: 60%;
    background-color: black;

}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin:20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input[type="file"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
}

li.success {
    color: green;
}

li.danger {
    color: red;
}
